.sidebarWrapper {
  position: fixed;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #192129;
  z-index: 4;
}

.logoWrapper {
  width: 100%;
  background-color: white;
}

.form {
  padding: 45px 5px 0 5px;
}

.categoryWrapper {
  display: flex;
}

.checkBoxLabel {
  font-size: 13px;
  font-weight: 700;
  color: white;
  line-height: 1;
  padding-left: 5px;
}

.label {
  font-size: 13px;
  font-weight: 700;
  color: white;
  line-height: 1;
}

.searchWrapper {
  padding-top: 25px;
}

.submitButton {
  display: flex;
  justify-content: center;
}
