.headerHolder {
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #008000;
  position: fixed;
  z-index: 100;
}

.links {
  float: right;
  position: relative;
  padding: 20px;
}

.links a {
  padding-right: 10px;
  color: white;
}

.links a:hover {
  color: #8ae600;
}

.welcome {
  display: inline-block;
  position: relative;
  bottom: 45%;
  color: white;
  padding-left: 20px;
}
